$include /etc/inputrc

# -- Add color --
# can make terminal flash
#set colored-stats on
set colored-completion-prefix on

# -- Completion --
set show-all-if-ambiguous on
set completion-ignore-case on

# -- Make delete key work in st --
# warning: disables arrow for history search below!
#set enable-keypad on

# -- History search --
"\e[A": history-search-backward
"\e[B": history-search-forward

