$include /etc/inputrc

# -- Add color --
#set colored-stats on
set colored-completion-prefix on

# -- Completion --
set show-all-if-ambiguous on
set completion-ignore-case on

# -- History search --
"\e[A": history-search-backward
"\e[B": history-search-forward
