!__   ____ __ 
!\ \ / /_ /_ |
! \ V / | || |
!  > <  | || |
! / . \ | || |
!/_/ \_\|_||_|

! 96 dpi is default, 120 dpi is 125%
Xft.dpi:       120
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! Xcursor
Xcursor.theme: BreezeX-Black
Xcursor.size: 32

! ___ _____ 
!/ __|_   _|
!\__ \ | |  
!|___/ |_|  

st.termname: st-256color
! format: font name:style=bold:size=11
st.font: Source Code Pro:size=11

!! Fonts:
!e Cascadia Code
! Dejavu Sans Mono
! FiraCode
! Hack
! Hasklig
! Input
! Iosevka Mats
! JetBrains Mono
! Liberation Mono
! Monoid
! Source Code Pro
!e UbuntuMono
!* e: errors with some characters

!! Nerd Fonts:
! AestheticIosevka Nerd Font Mono
! FiraCode Nerd Font
! Hack Nerd Font
! JetBrainsMono Nerd Font
! LigaSFMono Nerd Font
! ProggyClean Nerd Font
! ShureTechMono Nerd Font
! UbuntuMono Nerd Font

! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! window padding
st.borderpx:          3
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       3
! thickness of underline and bar cursors
st.cursorthickness:   2
! Amount of lines scrolled
st.mousescrollincremenent: 5
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      700
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        0
! (float values in range 0 to 1.0)
st.alpha:             0.95

!  ___ ___  _    ___  ___  ___  ___ _  _ ___ __  __ ___ ___ 
! / __/ _ \| |  / _ \| _ \/ __|/ __| || | __|  \/  | __/ __|
!| (_| (_) | |_| (_) |   /\__ \ (__| __ | _|| |\/| | _|\__ \
! \___\___/|____\___/|_|_\|___/\___|_||_|___|_|  |_|___|___/

!! Base16-twilight
!*foreground:   #a7a7a7
!*background:   #1e1e1e
!*color0:       #1e1e1e
!*color8:       #5f5a60
!*color1:       #cf6a4c
!*color9:       #cf6a4c
!*color2:       #8f9d6a
!*color10:      #8f9d6a
!*color3:       #f9ee98
!*color11:      #f9ee98
!*color4:       #7587a6
!*color12:      #7587a6
!*color5:       #9b859d
!*color13:      #9b859d
!*color6:       #afc4db
!*color14:      #afc4db
!*color7:       #a7a7a7
!*color15:      #ffffff
!*color16:      #cda869
!*color17:      #9b703f
!*color18:      #323537
!*color19:      #464b50
!*color20:      #838184
!*color21:      #c3c3c3

!! Distrotube (Doom one)
!*foreground:   #bbc2cf
!*background:   #282c34
!*cursorColor:  #bbc2cf
!*color0:       #1c1f24
!*color8:       #5b6268
!*color1:       #ff6c6b
!*color9:       #da8548
!*color2:       #98be65
!*color10:      #4db5bd
!*color3:       #da8548
!*color11:      #ecbe7b
!*color4:       #51afef
!*color12:      #3071db
!*color5:       #c678dd
!*color13:      #a9a1e1
!*color6:       #5699af
!*color14:      #46d9ff
!*color7:       #abb2bf
!*color15:      #dfdfdf

!! Nightfox (nightfox variant)
!*foreground:   #cdcecf
!*background:   #192330
!*color0:       #393b44
!*color8:       #575860
!*color1:       #c94f6d
!*color9:       #d16983
!*color2:       #81b29a
!*color10:      #8ebaa4
!*color3:       #dbc074
!*color11:      #e0c989
!*color4:       #719cd6
!*color12:      #86abdc
!*color5:       #9d79d6
!*color13:      #baa1e2
!*color6:       #63cdcf
!*color14:      #7ad5d6
!*color7:       #dfdfe0
!*color15:      #e4e4e5

!! Nightfox (i-machina variant)
!*foreground:   #d4d7ff
!*background:   #12121f
!*color0:       #222236
!*color8:       #29293f
!*color1:       #d95177
!*color9:       #d54c73
!*color2:       #78dca7
!*color10:      #7bdba6
!*color3:       #fcf39c
!*color11:      #fcf295
!*color4:       #759eea
!*color12:      #6d98e8
!*color5:       #8783d9
!*color13:      #837dd7
!*color6:       #6be5e3
!*color14:      #65dedc
!*color7:       #e4e7ff
!*color15:      #f4f7ff

!! Yoru
*foreground:   #edeff0
*background:   #0c0e0f
*color0:       #232526
*color8:       #2c2e2f
*color1:       #df5b61
*color9:       #e8646a
*color2:       #78b892
*color10:      #81c19b
*color3:       #de8f78
*color11:      #e79881
*color4:       #6791c9
*color12:      #709ad2
*color5:       #bc83e3
*color13:      #c58cec
*color6:       #67afc1
*color14:      #70b8ca
*color7:       #e4e6e7
*color15:      #f2f4f5

!! Atom-one-dark
! *foreground:    #ABB2BF
! *background:    #1E2127
! *cursorColor:   #5C6370
! *highlightColor:#3A3F4B
! *color0:        #1E2127
! *color8:        #5C6370
! *color1:        #E06C75
! *color9:        #E06C75
! *color2:        #98C379
! *color10:       #98C379
! *color3:        #D19A66
! *color11:       #D19A66
! *color4:        #61AFEF
! *color12:       #61AFEF
! *color5:        #C678DD
! *color13:       #C678DD
! *color6:        #56B6C2
! *color14:       #56B6C2
! *color7:        #ABB2BF
! *color15:       #FFFFFF

!! One-dark-vim
! *foreground:   #ABB2BF
! *background:   #282C34
! *cursorColor:  #ABB2BF
! *color0:       #2C323C
! *color8:       #3E4452
! *color1:       #E06C75
! *color9:       #E06C75
! *color2:       #98C379
! *color10:      #98C379
! *color3:       #E5C07B
! *color11:      #E5C07B
! *color4:       #61AFEF
! *color12:      #61AFEF
! *color5:       #C678DD
! *color13:      #C678DD
! *color6:       #56B6C2
! *color14:      #56B6C2
! *color7:       #5C6370
! *color15:      #ABB2BF

!! Catpuccin Mocha
! *background:    #1E1E2E
! *foreground:    #CDD6F4
! *color0:        #45475A
! *color8:        #585B70
! *color1:        #F38BA8
! *color9:        #F38BA8
! *color2:        #A6E3A1
! *color10:       #A6E3A1
! *color3:        #F9E2AF
! *color11:       #F9E2AF
! *color4:        #89B4FA
! *color12:       #89B4FA
! *color5:        #F5C2E7
! *color13:       #F5C2E7
! *color6:        #94E2D5
! *color14:       #94E2D5
! *color7:        #BAC2DE
! *color15:       #A6ADC8

!! Kanagawa
! *foreground:    #dcd7ba
! *background:    #1f1f28
! *cursorColor:   #dcd7ba
! *color0:        #090618
! *color8:        #727169
! *color1:        #c34043
! *color9:        #e82424
! *color2:        #76946a
! *color10:       #98bb6c
! *color3:        #c0a36e
! *color11:       #e6c384
! *color4:        #7e9cd8
! *color12:       #7fb4ca
! *color5:        #957fb8
! *color13:       #938aa9
! *color6:        #6a9589
! *color14:       #7aa89f
! *color7:        #c8c093
! *color15:       #dcd7ba
