* {
	bg:          #0c0e0fd0;
	bg-sel:      #6791c9;
	brd:         #7e7e7e80;
	txt:         #e4e6e7;
	txt-sel:     #0c0e0f;

	background-color: transparent;
	text-color:       @txt;
	border-color:     @brd;
	border-radius:    14px;

	font: "Sans 14";
}
