* {{
	bg: {background}d0;
	bg-sel: {color1};
	brd: {color1}80;
	txt: {foreground};
	txt-sel: {background};

	background-color: transparent;
	text-color: @txt;
	border-color: @brd;
	border-radius: 14px;
}}
