.window-frame {
  box-shadow: none;
  margin: 0;
}

.titlebar,
window {
    border-radius: 0;
    box-shadow: none;
}

decoration {
    box-shadow: none;
}

decoration:backdrop {
    box-shadow: none;
}
